Source: at-boot
Section: admin
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.5
Vcs-Git: https://gitlab.com/pragmatux/at-boot.git
Vcs-Browser: https://gitlab.com/pragmatux/at-boot.git

Package: at-boot
Architecture: all
Depends: systemd, ${misc:Depends}
Description: Run /at-boot at bootup
 A systemd service which runs /at-boot in the isolated target "at-boot" at
 bootup, if /at-boot exists.
